@font-face {
   font-family: 'Baron Neue';
   font-display: swap;
   src: url('file:///Users/larrylush/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-07-24_081022/fonts/Baron%20Neue/font.ttf');
}
